<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Version" value="1.0.0"/>
  </appSettings>
    <system.serviceModel>
      
        <bindings>
            <basicHttpBinding>
                <binding name="SkdServiceSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:6416/SkdService.asmx" binding="basicHttpBinding"
                bindingConfiguration="SkdServiceSoap" contract="SkdWebService.SkdServiceSoap"
                name="SkdServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>