<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Version" value="1.0.0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="GetActiveVenderId" value="http://www.skodalms.com/api/mechanism/GetActiveMechanism?token="/>
    <add key="GetVenderDetail" value="http://www.skodalms.com/api/mechanism/GetMechanismDetails?"/>
    <add key="GetVenderUserId" value="http://www.skodalms.com/api/mechanism/GetMechanismUsers?"/>
    <add key ="GetUserDetail" value="http://www.skodalms.com/api/Userinfo/GetUserDetail?"/>
    <add key="GetUserCourse" value="http://www.skodalms.com/api/course/GetUserCourse?"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SkdServiceSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:6416/SkdService.asmx" binding="basicHttpBinding" bindingConfiguration="SkdServiceSoap" contract="SkdWebService.SkdServiceSoap" name="SkdServiceSoap" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>